* {
	margin: 0;
	padding: 0;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 7.5vw;
  align-items: center;
  height: 15vh;
  z-index: 10;
  color: #ffffff;
  margin-top: -15vh;
}

.nav ul {
  display: flex;
	gap: 1rem;
	align-items: center;
}

.nav ul li {
	list-style: none;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 600;
}

.nav ul li:hover {
  cursor: pointer;
  color: #df6310;
}

.scroll,
.nohero {
  background-color: #ffffff;
  color: black;
}

.footerContainer {
	width: 100%;
  bottom: 0;
	background-color: #df6310;
	color: #ffffff;
  display: grid;
  place-items: center;
}

.contact {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	background-color: #1A1F23;
	color: #fcfcfc;
  font-size: 0.75rem;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.contact h4,
.contact p {
  text-align: center;
}

.contact h4 {
  font-size: 0.9rem;
}

.footer-container {
  width: 100%;
  height: 35vh;
  display: grid;
  place-content: center;
}

.footer-container h1 {
  text-align: center;
}

.hero {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./asset/thlo.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: grid;
  align-items: center;
  color: #df6310;
}

.logo {
  color: #df6310;
}

.hero div {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 7.5vw;
  line-height: 3em;
}

.hero h1 {
  font-size: 3rem;
}

.hero h3 {
  font-size: 1.5rem;
}

.hero button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
}

.hero button:hover {
  color: #df6310;
  border: 1px solid #df6310;
}

.reservation,
.specials,
.history {
  padding: 10vh 10vw 20vh;
}

.menu-page {
  padding: 15vh 0 5vh;
}

.specials h2 {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 28px;
  color: #df6310;
  text-transform: capitalize;
}

.specials .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.card-container .card {
  display: grid;
  justify-items: center;
}

.card h3 {
  text-transform: capitalize;
  color: #1A1F23;
}

.card p {
  text-align: center;
  font-size: 0.85rem;
  color: #1A1F23;
}

.card .price {
  font-size: 1.2rem;
  color: #df6310;
  margin: 0.25rem;
}

.specials img {
  width: 180px;
  height: 140px;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}

.reservation {
  margin-top: 15vh;
}

.reservation form {
  padding: 0.5rem 5rem;
  display: grid;
}

.reservation h1,
.reservation p,
.history h1,
.history p {
  text-align: center;
}

.reservation h1,
.history h1 {
  color: #df6310;
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.reservation p,
.history p {
  color: #1A1F23;
  font-size: 0.9rem;
}

.reservation .form-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem 4rem;
}

.reservation form input,
.reservation form textarea {
  padding: 0.5rem;
  font: 1.15;
  color: #1A1F23;
  border: none;
}

.reservation form input:focus,
.reservation form textarea:focus {
  outline: none;
  border: 1px solid #df6310;
}

.reservation form textarea {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.reservation form button,
.history button {
  color: #ffffff;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
  background-color: #df6310;
  border: none;
  justify-self: center;
}

.reservation form button:hover,
.history button:hover {
  background-color: #ffffff;
  color: #df6310;
  border: 1px solid #df6310;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  justify-self: center;
}

.about-img {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.about-img img {
  width: 150px;
  height: 210px;
}

.content {
  display: grid;
  place-content: center;
}

.content button {
  margin-top: 2rem;
}

.about-hero {
  max-width: 100vw;
  width: 100vw;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./asset/hmbash.jpeg);
  background-size: cover;
  background-position: center;
  color: #df6310;
  text-align: center;
  display: grid;
  place-content: center;
}